:root {
    --dark: #232B2B;
    --light: #F1F4F1;
    --contrast: #3C6E71;
    --highlight: #F4B400;
}

/* main styling c91e46 */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Courier New', Courier, monospace;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #F3F1EA;
    color: var(--dark);
}

header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--dark);
    color: var(--highlight);
    text-shadow: 
        -2px -2px 0 #000,  
        2px -2px 0 #000,  
        -2px 2px 0 #000,  
        2px 2px 0 #000;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 5px;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border: 2px solid black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--contrast);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 15px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

nav a {
    color: var(--light);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.3s ease-in-out;
}

nav a:hover {
    background: var(--dark);
    color: var(--light);
    border-radius: 5px;
    border: 2px solid black;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav li {
    display: inline;
}

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--contrast);
    color: var(--light);
    border-radius: 10px;
    border: 2px solid black;
}