/* other styling */
.profile-page {
    background-color: var(--dark);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.color {
    display: flex;
    background-color: var(--highlight);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.profile-nav {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 12px;
    border: 2px solid black;
    display: flex;
    padding: 10px;
    margin: 10px;
}

.profile-nav ul {
    list-style-type: none;
}

.profile-nav button {
    background: var(--light);
    color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    width: 170px;
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-left: -35px;
    margin-right: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
    border: 2px solid black;
}

.profile-nav button:hover {
    background-color: var(--contrast);
    color: var(--light);
    transform: translateY(-3px);
    border: 2px solid black;
}

.profile-details {
    background-color: var(--dark);
    margin: 10px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 20px;
    width: 1300px;
}

.profile-section {
    color: var(--light);
    padding: 5px;
}